<a href="https://colab.research.google.com/github/Alexx009/WebScraperiz/blob/main/DATABASE%20PROGAMMER%20PRACTICE%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import pandas as pd
import numpy as np
housing_document = pd.read_csv("/content/sample_data/california_housing_test.csv")
df = pd.DataFrame(housing_document);
df.fillna(0)
df.drop_duplicates(keep="first")

filtered_df = df[df["median_income"] > 5]
filtered_df = df.sort_values(by="population")
print(filtered_df)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
2640    -114.62     33.62                26.0         18.0             3.0
740     -117.12     32.66                52.0         16.0             4.0
1115    -116.95     33.86                 1.0          6.0             2.0
1355    -117.11     32.66                52.0         25.0             5.0
2494    -118.44     34.04                49.0         32.0             7.0
...         ...       ...                 ...          ...             ...
1597    -117.12     33.49                 4.0      21988.0          4055.0
2429    -117.20     33.58                 2.0      30450.0          5033.0
1146    -117.27     33.15                 4.0      23915.0          4135.0
2186    -116.14     34.45                12.0       8796.0          1721.0
978     -121.53     38.48                 5.0      27870.0          5027.0

      population  households  median_income  median_house_value
2640         5.0         3.0         0.5360            275000.0
740          8.0         3.0         1.1250             60000.0
1115         8.0         2.0         1.6250             55000.0
1355        14.0         9.0         1.6250            118800.0
2494        14.0         7.0         2.1875            225000.0
...          ...         ...            ...                 ...
1597      8824.0      3252.0         3.9963            191100.0
2429      9419.0      3197.0         4.5936            174300.0
1146     10877.0      3958.0         4.6357            244900.0
2186     11139.0      1680.0         2.2612            137500.0
978      11935.0      4855.0         4.8811            212200.0

[3000 rows x 9 columns]