<a href="https://colab.research.google.com/github/Alexx009/WebScraperiz/blob/main/DATABASE%20PROGAMMER%20PRACTICE%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
housing_document = pd.read_csv("/content/sample_data/california_housing_test.csv")
df = pd.DataFrame(housing_document);
df.fillna(0)
df.drop_duplicates(keep="first")

filtered_df = df[df["median_income"] > 5]
filtered_df = df.sort_values(by="population")
print(filtered_df)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
2640    -114.62     33.62                26.0         18.0             3.0
740     -117.12     32.66                52.0         16.0             4.0
1115    -116.95     33.86                 1.0          6.0             2.0
1355    -117.11     32.66                52.0         25.0             5.0
2494    -118.44     34.04                49.0         32.0             7.0
...         ...       ...                 ...          ...             ...
1597    -117.12     33.49                 4.0      21988.0          4055.0
2429    -117.20     33.58                 2.0      30450.0          5033.0
1146    -117.27     33.15                 4.0      23915.0          4135.0
2186    -116.14     34.45                12.0       8796.0          1721.0
978     -121.53     38.48                 5.0      27870.0          5027.0

      population  households  median_income  median_house_value
2640         5.0         3.0         0.5360            275000.0
740          8.0         3.0         1.1250             60000.0
1115         8.0         2.0         1.6250             55000.0
1355        14.0         9.0         1.6250            118800.0
2494        14.0         7.0         2.1875            225000.0
...          ...         ...            ...                 ...
1597      8824.0      3252.0         3.9963            191100.0
2429      9419.0      3197.0         4.5936            174300.0
1146     10877.0      3958.0         4.6357            244900.0
2186     11139.0      1680.0         2.2612            137500.0
978      11935.0      4855.0         4.8811            212200.0

[3000 rows x 9 columns]

In [ ]:
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]

odd_l1_num = []
even_l2_num = []

for i in range(len(l1)):

  if i % 2 != 0:
    odd_l1_num.append(l1[i])
print(f"Element at odd-index positions from list one \n{odd_l1_num}")

for j in range(len(l2)):
  if j % 2 == 0:
    even_l2_num.append(l2[j])
print(f"Element at even-index positions from list two \n{even_l2_num}\n")

print(odd_l1_num + even_l2_num)

Element at odd-index positions from list one
[6, 12, 18]
Element at even-index positions from list two
[4, 12, 20, 28]

[6, 12, 18, 4, 12, 20, 28]

In [ ]:
from itertools import count
sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]
counter = 0
chunk_counter = 0
chunk = []
for sample in sample_list:
  if counter < 4:
    chunk.append(sample)
    counter += 1
  if counter == 3:
    chunk_counter += 1
    print(f"Chunk {chunk_counter} {chunk}")
    print(f"after reversing it {chunk[::-1]}")
    chunk = []
    counter = 0

Chunk 1 [11, 45, 8]
after reversing it [8, 45, 11]
Chunk 2 [23, 14, 12]
after reversing it [12, 14, 23]
Chunk 3 [78, 45, 89]
after reversing it [89, 45, 78]

In [ ]:
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]
sample_dict = {}
for sample in sample_list:
  sample_dict[sample] = sample_dict.get(sample,0)+1


print(f"Printing each item {sample_dict}")

Printing each item {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [ ]:
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

new_list = []

for i in range(min(len(first_list), len(second_list))):
  new_list.append((first_list[i], second_list[i]))

print(new_list)

[(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64)]

In [ ]:
first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}
combined_set = first_set.union(second_set)
similar_val = []
not_similar_val = []
for i in first_set:
  for j in second_set:
    if i == j:
      similar_val.append(i)
for k in first_set:
  if k not in similar_val:
    not_similar_val.append(k)

print(similar_val)
print(not_similar_val)

[83, 57, 29]
[65, 23, 42, 78]

In [ ]:

employees = [
    {"name": "Alice", "age": 30, "department": "HR"},
    {"name": "Bob", "age": 24, "department": "Engineering"},
    {"name": "Charlie", "age": 29, "department": "Engineering"},
    {"name": "Diana", "age": 35, "department": "Marketing"}
]

engineering_employees = [e for e in employees if e['department'] =='Engineering']
print(engineering_employees)

# for employee in employees:

[{'name': 'Bob', 'age': 24, 'department': 'Engineering'}, {'name': 'Charlie', 'age': 29, 'department': 'Engineering'}]

In [6]:
def grade_summary(grade_list):
  if len(grade_list) < 5:
    return 'list is not enough'
  return round(sum(grade_list)/len(grade_list),2)


grades = []

for _ in range(5):
  while True:
    try:
      grade = int(input("Enter a grade 0-100: "))
      if 0<= grade <= 100:
        grades.append(grade)
        break
      else:
        print('invalid')
    except:
      print('Invalid')

print(grade_summary(grades))

Enter a grade 0-100: 89
Enter a grade 0-100: 77
Enter a grade 0-100: 89
Enter a grade 0-100: 96
Enter a grade 0-100: 99
90.0